= javascript_pack_tag 'index'
.row
  .col-md-6.col-md-offset-3.col-xs-12
    = render partial: "layouts/registration_form"
  .col-md-6.col-md-offset-3.col-xs-12.text-center
    Already have an account?
    = link_to login_path, id: "goToLogin" do
      Login
