= javascript_pack_tag 'index'

#productPlanContainer
  .col-md-12
    .col-md-2
      2018
      %br
      .col-md-6.column
      .col-md-6.column
    .col-md-3
      Q1 2019
      %br
      .col-md-4.column
      .col-md-4.column
      .col-md-4.column
    .col-md-3
      Q2
      %br
      .col-md-4.column
      .col-md-4.column
      .col-md-4.column
    .col-md-3
      Q3
      %br
      .col-md-4.column
      .col-md-4.column
      .col-md-4.column
    .col-md-1
      Q4
      %br
      .col-md-12.column
  .col-md-12
    #productRows
