.panel
  .panel-body
    .col-md-12
      %form{html: {id: "userRegistrationForm"}}
        .col-md-12
          = text_field_tag{id: 'userEmail', type: 'email', placeholder: 'email', required: true}
        .col-md-12
          = text_field_tag{id: 'userPassword', type: 'password', placeholder: 'password', required: true}
        .col-md-12
          = text_field_tag{id: 'userPasswordConfirmation', type: 'password', placeholder: 'password_confirmation', required: true}
        .col-md-4.col-md-offset-4.col-xs-12
          %button{type: 'submit'}
            Register
