.row
  .col-md-12
    #laneDropZone
    %h4
      We'll start with a lane
    %p
      Lanes represent high level categories, such as teams, product lines, or strategic initiatives. Add a color and description to your lane to communicate valuable details to stakeholders.
    %p
      Drag and drop a lane to get started.
    .pull-right
      %button{id: "completeStep1", class: "complete-step-button btn ui-widget-content", onClick: "activateAddBar(1)"}
    .pointer
