.row
  .col-md-12
    %h4
      Alright let's set up a couple more
    %p
      Once they're added, you can share out your roadmap with your team.
    .pull-right
      %button{id: "completeStep3", class: "complete-step-button btn ui-widget-content", onClick: "activateAddBar(3); updateStepsCompleted('#step3', 3);"}
        Got it
    .pointer
